{% extends 'index.html' %}
{% load static %}

{% block body %}


    <!-- ========================
     gallery layout2
    =========================== -->
    <section class="gallery-layout2 pt-130 pb-90">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 text-center">
              <div class="heading mb-60">
                <h3 class="heading__title">Galerie</h3>
              </div><!-- /heading -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            {% for pic in pics %}
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="gallery-img">
                <a class="popup-gallery-item" href="{{pic.img}}"><i class="fas fa-eye"></i></a>
                <img src="{{pic.img}}" alt="{{pic.alter}}">
              </div><!-- /.gallery-img -->
            </div><!-- /.col-lg-4 -->
            {% endfor %}
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.gallery layout2 -->

{% endblock body %}