{% extends 'index.html' %}
{% load static %}

{% block body %}

      <!-- ======================
        Blog Single
      ========================= -->
      <section class="blog blog-single pt-0 pb-80">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="post-item mb-0">
                <div class="post__img">
                  <a href="#">
                    <img src="static/kpl.jpg" alt="post image" loading="lazy">
                  </a>
                </div><!-- /.post-img -->
                <div class="post__body pb-0">
        
                  <div class="post__meta d-flex align-items-center mb-20">
                    <span class="post__meta-date">Jan 20, 2022</span>
                    <a class="post__meta-author" href="#">Equipe Health Service</a>
                  </div><!-- /.blog-meta -->
                  <h1 class="post__title mb-30">
                    L'Histoire De La Hijama
                  </h1>
                  <div class="post__desc">
                    <p>La Hijama fut abandonnée fin du XIXème siècle début du XXèmes siècle après l’effervescence de la médecine moderne, <br> 
                        contemporaine et de l’industrie des  laboratoires pharmaceutiques qui promettent au malades des traitements réputés moins « invasif » avec l’ apparitions des antibiotiques et autres antidouleurs.</p>
                    <p>Cependant aujourd’hui, avec l’apparition des conséquences néfastes de nombreux  effets secondaires liées aux médicaments et de l’apparition de nouvelles maladies,<br> 
                        le monde se tourne vers de nouvelles réflexions, pour un retour à des traitements traditionnels et naturels dont la plus importante reste sans doute : “LA HIJAMA”.</p>

                    <h3 class="post__title mb-30">La Hijama Humide</h3>

                    <img src="static/pl.jpg" alt="post image" loading="lazy">

                    <p>
                        Consiste à commencer par faire une&nbsp;&nbsp;hijama sèche puis de procéder à l’aide d’une lame de bistouri stérile à des petits picottements cutanées superficielles épidermiques (qui n’excèdent pas 2 à 3/10 de mm)<strong>&nbsp;sur une partie bien précise du corps&nbsp;&nbsp;pour soulager ou améliorer une maladie.
                    </p>

                    <p>Au moyen de la ventouse d’aspiration on va aller extraire les substances excédantes toxiques depuis l’organe atteint vers la surface de la peau.&nbsp;<strong><br>
                    </strong></p>
                    <p>Elle intéresse le&nbsp;<b>réseau capillaire veino-lymphatique essentiellement.&nbsp;</b></p>
                    <p>Elle est réalisée environ une fois par mois jusqu’à soulagement des maux.</p>
                    <p>Sauf pour les&nbsp;<b>maladies de la thyroïdes</b>&nbsp;elle se prolonge de&nbsp;<b>1,5 à 2 mois</b>&nbsp;entre chaque séance.</p>
                    <p>Pour les personnes âgées ont y espacera les séances pour faciliter la récupération.</p>
                    <p>Pour d’autres pathologies il sera possible de rapprocher les séances à 10-15 jours&nbsp;d’intervalle.</p>

                    <h3 class="post__title mb-30">La Hijama Seches</h3>

                    <img src="static/gh.jpg" alt="post image" loading="lazy">

                    <p>
                        Qui consiste à appliquer la ventouse sur la peau et la laisser en place pendant 10&nbsp;minutes.
                    </p>

                    <p>
                        La marque bleue laissée par la ventouse disparaîtra d’elle-même au bout de quelques jours.
                    </p>
                    
                  </div><!-- /.blog-desc -->
                </div>
              </div><!-- /.post-item -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.blog Single -->
  

{% endblock body %}