<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="{{desc}}">
  <meta name="keywords" content="{{key}}">
  <meta name="author" content="Reda Benhamid">
  <link href="assets/images/favicon/favicon.png" rel="icon">
  <title>{{title}}</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&amp;family=Roboto:wght@400;700&amp;display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="static/assets/css/libraries.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="preloader">
      <div class="loading"><span></span><span></span><span></span><span></span></div>
    </div><!-- /.preloader -->

    <!-- =========================
        Header
    =========================== -->
    <header class="header header-layout1">
      <div class="header-topbar" style="height: 100px;">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-1"></div>
            <div class="col-11">
              <div class="d-flex align-items-center justify-content-between pt-30">
                <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                  <li>
                    <!-- 
                    <div id="miniPopup-emergency" class="miniPopup miniPopup-emergency text-center">
                      <div class="emergency__icon">
                        <i class="icon-call3"></i>
                      </div>
                      <a href="tel:+201061245741" class="phone__number">
                        <i class="icon-phone"></i> <span>+2 01061245741</span>
                      </a>
                      <p>Please feel free to contact our friendly reception staff with any general or medical enquiry.
                      </p>
                      <a href="appointment.html" class="btn btn__secondary btn__link btn__block">
                        <span>Rendez-vous</span> <i class="icon-arrow-right"></i>
                      </a>
                    </div>/.miniPopup-emergency -->
                  </li>

                  
                    <li style="display: inline;">
                      <div> 
                      <i class="icon-phone h5"></i>
                      <a style="display: inline;" href="tel:+212772070605" class="h6">Tel : 07.72.07.06.05</a>
                      <br>
                      <i class="fas fa-mobile h5"></i>
                      <a style="display: inline;" href="tel:+212772070605" class="h6">&nbsp; Fix : 05.32.01.72.86</a>
                    </div>
                    </li>
                    <li style="display: inline;">
                      <div> 
                        <i class="icon-location h4"></i>
                        <a style="display: inline;" href="tel:+212772070605" class="h6">18 lotissement Ikhlasse <br> &nbsp; lamssala, Meknes</a>
                        <br>
                      </div>
                      
                    </li>
                    <li style="display: inline;">
                      <i class="material-icons">&#xe0e1;</i>
                      <a href="mailto:contact@hijamaty.com" class="h5">contact@hijamaty.com</a>
                    </li>
                    <li style="display: inline;">
                      <i class="icon-clock h4"></i>
                      <a href="contact-us.html" class="h5">Lun - Sam: 09:30 - 20:00</a>
                      <li><a href="https://web.facebook.com/hijamalallaaicha" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </li>

                </ul><!-- /.contact__list -->
                
              </div>
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.header-top -->
      <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://wa.me/+212772070605">
            <img src="assets/images/logo/logo-light.png" class="logo-light" alt="logo">
            <img src="static/healt.png" class="logo-dark" alt="logo" height="75px" style="display: inline-block;">
            <h5 style="display: inline-block;">Health Service</h5>
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item has-dropdown">
                <a href="{% url 'app:home' %}" class="nav__item-link active">Acceuil</a>
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="#" class="nav__item-link">A propos</a>
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Nos Services</a>
                <ul class="dropdown-menu">
                  <li class="nav__item">
                    <a href="{% url 'app:hijama' %}" class="nav__item-link">Hijama</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="doctors-standard.html" class="nav__item-link">Massage</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="doctors-modern.html" class="nav__item-link">Minceur</a>
                  </li> <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Horaires</a>
                <ul class="dropdown-menu">
                  <li class="nav__item">
                    <a href="#" class="nav__item-link">Lun 09:30 - 20:00</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="#" class="nav__item-link">Mar 09:30 - 20:00</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="#" class="nav__item-link">Mer 09:30 - 20:00</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="#" class="nav__item-link">Jeu 09:30 - 20:00</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="#" class="nav__item-link">Ven Fermée</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="#" class="nav__item-link">Sam 09:30 - 20:00</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="#" class="nav__item-link">Dim 09:30 - 20:00</a>
                  </li> <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="{% url 'app:galerie' %}" class="nav__item-link">Galerie</a>
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="#" class="nav__item-link">Rendez-Vous</a>
              </li><!-- /.nav-item -->
   
              <li class="nav__item">
                <a href="{% url 'app:contact' %}" class="nav__item-link">Nous Contactez</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
            <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
          </div><!-- /.navbar-collapse -->

        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->

    {% block body %}

    {% endblock body %}

    <!-- ========================
      Footer
    ========================== -->
    <footer class="footer">
      <div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="footer-widget-about">
                <img src="static/healt.png" alt="logo" class="mb-30 col-6">
                <h3 class="col-8" style="font-size: large;">Health Service<br> Lalla Aicha</h3>

                <p class="color-gray">  Chez Health Service Lalla Aicha, <br>est un centre de bien être assiste par une kinésithérapeute, centre spécialisé en Hijama , amincissement, massage relaxant et thérapeutique par des appareils spécialisé . 
                </p>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-widget-nav">
                <h6 class="footer-widget__title" style="color: #2ccf5d;">Links Utiles</h6>
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">A Propos</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Rendez-Vous</a></li>
                    <li><a href="#">Nous Contactez</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="footer-widget-contact">
                <h6 class="footer-widget__title color-heading">Soyez Les Bienvenue !</h6>
                <ul class="contact-list list-unstyled">
                  <li>Nous serons ravi de repondre a vos besoin .</li>
                  <li>
                    <a href="tel:01061245741" class="phone__number">
                      <i class="icon-phone"></i> <span>07.72.07.06.05</span>
                    </a>
                  </li>
                  <li class="color-body">18 lotissement Ikhlasse lamssala, Meknes 50000, Maroc</li>
                </ul>
                <div class="d-flex align-items-center">
                  <a href="https://goo.gl/maps/LXHejzsGRDvuZHmZ6" class="btn btn__primary btn__link mr-30">
                    <i class="icon-arrow-right"></i> <span>Voir Maps</span>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="https://web.facebook.com/hijamalallaaicha"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-primary -->
      <div class="footer-secondary">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <span class="fz-14">&copy; 2021 | All Rights Reserved. | </span>
              <a class="fz-14 color-primary" href="http://redaben.herokuapp.com">Reda Benhamid</a>
            </div><!-- /.col-lg-6 -->

          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-secondary -->
    </footer><!-- /.Footer -->
    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>
  </div><!-- /.wrapper -->

  <script src="static/assets/js/jquery-3.5.1.min.js"></script>
  <script src="static/assets/js/plugins.js"></script>
  <script src="static/assets/js/main.js"></script>


  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQNFC5J24K"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-MQNFC5J24K');
  </script>


</body>


<!-- Mirrored from 7oroof.com/demos/medcity/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 May 2021 11:16:01 GMT -->
</html>